
    <!DOCTYPE html>
<html>
<head>
  <title>Add New Skill</title>
</head>
<body>
  <h1>Add New Skill</h1>

  <form action="/add_skill" method="POST">
    <label for="skillName">Skill Name:</label>
    <input type="text" id="skillName" name="skillName" required><br><br>

    </select><br><br>

    <input type="submit" value="a Skill">
  </form>

</body>
</html>

